body{
  font-family: Verdana;
  font-size: 32px;
}

.logo{
  width: 70%;
}

.assinatura{
  width:350px;
  margin-bottom: -30px;
}

p{
  margin: 70px 0;
}

.centro{
  text-align: center;
}

.just{
  text-align: justify;
}

.txt-assinatura{
  line-height: 35px;
}
